<?php
$controllerName = $this->getRequest()->getControllerName();
$dataThis = $this->getData();
$queryArray = $this->getArrayWithReport();
if (empty($queryArray)):
    echo 'I cant find duplicated URLs';
else:
    ?>
    <?php echo Mage::app()->isSingleStoreMode() ? 'Magento is in single store mode' :
    '';
    ?>
<?php  if($controllerName == 'urlduplo_namesurls'):;?>
    <div>
        Show results with similarity lower than
        <input type="text" onkeypress="return numeralsOnly(event)" min="0" data-validate="{digits: true}" id="similarity" size="3" maxlength="2" value="<?php echo $this->getSimilarity()?>" >%
        <button class="myButton" style="float: none" type="refresh" onclick="updateSimilarity(); return false;">
        <span style="font-size:12px;"><?php echo $this->__('Update') ;?></span>
    </div>
    <?php endif; ?>
    <div class="grid" align="center">
        <table style="width:auto" cellspacing="0" class="data" id="<?php echo $this->getId() ?>_table">
            <?php
            $results = array();
            foreach ($queryArray as $data):
                if (isset($data['url_key']))
                    $id = $data['url_key'];
                $results[$id][] = $data;
            endforeach;
            foreach ($data as $tableHaders => $trash): ?>
                <td><?php echo $tableHaders ?></td>
            <?php endforeach; ?>
            <?php foreach ($results as $keys => $result): ?>
                <tbody>
                <tr>
                    <td style="background-color: #e5eed6" colspan=<?php echo sizeof($result[0])?> ><?php echo $keys ?></td>
                    <?php foreach ($result as $single): ?>
                        <?php if ($single['entity_id']) : ?>
                            </tr><tr>
                            <?php foreach ($single as $key => $row):
                                if ($key == 'entity_id'):
                                    echo '<td><a href="' . $this->getBaseEditUrl() . 'id/' . $row . '">' . $row . '</td>';
                                elseif ($key == 'url_key' || $key =='name'): ?>
                                    <td id="row_<?php echo $single['entity_id']?>"><span
                                            id="<?php echo $key ?>_span_<?php echo $single['entity_id']; ?>"><?php echo $single[$key]; ?></span>
                                        <input class="hide" type="text" id="text_<?php echo $key ?>_<?php echo $single['entity_id']; ?>" name="<?php echo $key ?>"
                                               value="<?php echo $single[$key] ?>" />
                                        <button class="myButton show" id="edit_button_<?php echo $key; ?>_<?php echo $single['entity_id'];?>"
                                                onclick="enableEdit('<?php echo $single['entity_id']; ?>','<?php echo $key;?>'); return false;">
                                            <span><?php echo $this->__('Edit') ?></span>
                                        <button class="myButton hide" id="update_button_<?php echo $key; ?>_<?php echo $single['entity_id']; ?>"
                                                onclick="updateField('<?php echo $single['entity_id'] ?>','<?php echo $key ?>','<?php echo $single['store_id'] ?>'); return false;">
                                            <span><?php echo $this->__('Update') ?></span>
                                        </button>
                                        <button class="myButton hide" id="reset_button_<?php echo $key; ?>_<?php echo $single['entity_id']; ?>"
                                                onclick="disableEdit('<?php echo $single['entity_id']; ?>','<?php echo $key; ?>' ); return false;">
                                            <span><?php echo $this->__('Cancel') ?></span>
                                        </button>
                                    </td>
                                <?php else: ?>
                                    <td id="<?php echo $single['entity_id'].'_'.$key?>"><?php echo $row ?></td>
                                <? endif;
                                endforeach;
                            endif;
                    endforeach; ?>
                </tr>
                </tbody>
            <?php endforeach; ?>
        </table>
    </div>

<?php endif; ?>
